= javascript_include_tag params[:controller]
= simple_form_for(@spot) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :zoom_level, collection: Spot.zoom_levels.keys.map {|level| [level.capitalize, level]}, include_blank: false
    = f.input :latitude
    = f.input :longitude
    = f.input :use_address, as: :boolean
    %div#div_address
      = f.input :address_1
      = f.input :address_2
      = f.input :city
      = f.input :state, collection: Spot.us_states
      = f.input :zip
    = f.input :radius
    = f.association :user, collection: @users, value_method: :id, label_method: :email, prompt: "Choose a User" if current_user.admin?

  .form-actions
    = f.button :submit
